<div class="all">
	<div class="headInfo">
		<h2>SER &gt; PUG</h2>
	</div>

	<md-content class="bodyInfo">
		<section class="stats" >
			<p class="steps">
				STEPS <br>
				34
			</p>
			<p class="time">
				TIEMPO <br>
				100
			</p>
		</section>

		<section class="box">
			<div class="uno">
				<div class="dos">
					<div class="tres">
						<p class="infoBox">
							Bípedo <br>
							  v <br>
							 Can <br>
							  v <br>	
							Perro <br>
							  v <br>
							 ---
						</p>
					</div>
				</div>
			</div>
		</section>

		<section >
			<section layout="column" layout-wrap="" class="btns">			
			 <md-button> Pug </md-button>
			 <md-button> Pug </md-button>		
			</section>
		</section>
	</md-content>
</div>


